.link {
	text-decoration: none;
	transition: color $tTransitionLeave, text-shadow $tTransitionLeave;

	&,
	&:active,
	&:visited {
		color: $cText;
	}

	@media (hover: hover) {
		&:hover {
			color: $cTextHover;
			transition-duration: $tTransitionEnter;
			@include golden-glow;
		}
	}

	&--subtle {
		&,
		&:active,
		&:visited {
			color: $cMediumGray;
		}

		@media (hover: hover) {
			&:hover {
				color: $cTextHover;
				@include golden-glow;
			}
		}
	}
}
